# Python cache
__pycache__/
*.pyc
*.pyo

# Git
.git
.gitignore

# Jupyter notebooks
*.ipynb
*.ipynb_checkpoints

# Data / Large files
data/
*.csv
*.h5
*.pkl

# Logs
*.log

# Temporary / system files
*.swp
*.DS_Store
