# Ignore virtual environment
venv/
.env
ENV/

data.csv
insurance.csv
sampleImages/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore logs and temp files
*.log
*.tmp
*.bak

# Ignore IDE/editor config
.vscode/
.idea/

# Ignore git metadata
.git
.gitignore

# Ignore system files
.DS_Store
Thumbs.db
